<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/puppy_style.css" text="text/css"/>
		<title>MVC With Puppies!</title>
		<link rel="icon" type="text/html" href="/Favicon.png">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/puppies.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>